body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(29, 29, 29);
    color: white;
}

.topnav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 35px;
    border: 2px solid rgba(16, 16, 16, 3.5);
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    z-index: 9999;
}

.topnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 15px;
}

.topnav a:hover {
    background-color: gray;
    color: whitesmoke;
}

.topnav a.active {
    position: relative;
    background-color: transparent;
    color: whitesmoke;
}

.topnav a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 5px;
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 5px;
}

.logo {
    position: absolute;
    top: 35px;
    left: 100px;
    width: 100px;
    height: auto;
}

.icon {
    position: fixed;
    bottom: 20px;
    right: 25px;
    font-size: 3.5em;
    cursor: pointer;
}